/* ==|== primary styles =====================================================
   Author: www.prowebdesign.ro
   Write your own styles here.
   ========================================================================== */



/* slider styles */

/*NEW SLIDER STYLES FOR SCALE, ETC*/
/* slider widget */

select#slider-0 {
	background:none;
	width:200px !important;
	position:relative;
	display:none;
}
.ui-select {
	background:none;
	width:200px !important;
	position:relative;
	display:none !important;
}
.ui-slider  {
	text-decoration: none !important;
}
.ui-slider .ui-slider-handle  {
	overflow: visible !important;
}
.ui-slider .ui-slider-tooltip {
	display: none;
}
.ui-slider .screenReaderContext {
	position: absolute;
	width: 0;
	height: 0;
	overflow: hidden;
	left: -999999999px;
}
.ui-slider .ui-state-active .ui-slider-tooltip, .ui-slider .ui-state-focus .ui-slider-tooltip, .ui-slider .ui-state-hover .ui-slider-tooltip {
	display: block;
	position: absolute;
	bottom: 2.5em;
	text-align: center;
	padding: .3em .2em .4em;
	font-size: .9em;
	width: 8em;
	margin-left: -3.7em;
}
.ui-slider .ui-slider-tooltip .ui-tooltip-pointer-down, .ui-slider .ui-slider-tooltip .ui-tooltip-pointer-down-inner {
	position: absolute; 
	display: block;
	width:0; 
	height:0; 
	border-bottom-width: 0;
	background: none;
}
.ui-slider .ui-slider-tooltip .ui-tooltip-pointer-down {	
	border-left: 7px dashed transparent; 
	border-right: 7px dashed transparent;
	border-top-width: 8px;
	bottom:	-8px;
	right: auto;
	left: 50%;
	margin-left: -7px;
}
.ui-slider .ui-slider-tooltip .ui-tooltip-pointer-down-inner {
	border-left: 6px dashed transparent; 
	border-right: 6px dashed transparent;
	border-top: 7px solid #fff;
	bottom:	auto;
	top: -9px;
	left: -6px;
}
.ui-slider a {
	text-decoration: none;
}
.ui-slider ol, .ui-slider li, .ui-slider dl, .ui-slider dd, .ui-slider dt {
	list-style: none;
	margin: 0;
	padding: 0;
}
.ui-slider ol, .ui-slider dl {
	position: relative;
	top: 1.3em;
	width: 100%;
}
.ui-slider dt {
	top: 1.5em;
	position: absolute;
	padding-top: .2em;
	text-align: center;
	border-bottom: 1px dotted #ddd;
	height: .7em;
	color: #999;
}
.ui-slider dt span {
	background: #fff;
	padding: 0 .5em;
}
.ui-slider li, .ui-slider dd {
	position: absolute;
	overflow: visible;
	color: #666;
}
.ui-slider span.ui-slider-label {
	position: absolute;
}
.ui-slider li span.ui-slider-label, .ui-slider dd span.ui-slider-label {
	display: none;
}
.ui-slider li span.ui-slider-label-show, .ui-slider dd span.ui-slider-label-show {
	display: block;
}
.ui-slider span.ui-slider-tic {
	position: absolute;
	left: 0;
	height: .8em;
	top: -1.3em;
}
.ui-slider li span.ui-widget-content, .ui-slider dd span.ui-widget-content {
	border-right: 0;
	border-left-width: 1px;
	border-left-style: solid;
	border-top: 0;
	border-bottom: 0;
}
.ui-slider .first .ui-slider-tic, .ui-slider .last .ui-slider-tic {
	display: none;
}


/* fieldset { border:0; margin: 6em; }	
label {font-weight: normal; float: left; margin-right: .5em; font-size: 1.1em;}
select {margin-right: 1em; }
.ui-slider {clear: both; top: 5em;}
/*
/* buttons styles 
#buttons {
  width: 90%;
  height: 50px;
  float: left;
  padding:0px;
  }
  #buttons .icon {
    border-radius:50px;
    -moz-border-radius:50px;
    -webkit-border-radius:50px;
  float:left;
  width:31px;
  height:31px;
  margin:5px 5px 5px 0;
  padding:5px;
  border:3px solid #eee;
}
.btns {
  width:51px;
  height:71px;
  margin:0px 25px 5px 0;
  float:left;
}
span.txt {
  float:left;
  width:25px;
}
.sliderbox .icon {
  float:left;
  width:31px;
  height:31px;
  margin:5px 5px 5px 0;
  padding:5px;
  background-color:rgba(255, 255, 255, 0);

}

.icon.video {
  margin-left:7%;
}
.tools {
  background: rgba(255, 204, 0, 0.5) url(../images/teammock_icons.png) no-repeat 5px 3px;
}

.read {
  background: rgba(255, 102, 51, 0.5) url(../images/teammock_icons.png) no-repeat -42px 3px;
}

.video {
  background:rgba(40, 133, 160, 0.5) url(../images/teammock_icons.png) no-repeat -87px 3px;
}

.contents {
  background:rgba(155, 192, 78, 0.5) url(../images/teammock_icons.png) no-repeat -135px 3px;
}

.search {
  background:rgba(152, 89, 199, 0.5) url(../images/teammock_icons.png) no-repeat -228px 3px;
}

.sliderbox form {
  float:left;
  width:100%;
}

.sliderbox form label {
  display:none;
}
/*
.ui-slider {
  width : 95% !important;
  background : #333; 
}
/*
input.ui-slider-input {
    position: absolute; 
    display:none; 
      top: -25px;  
      width:100%;  
      height: 30px;  
      color: #fff;  
      text-align: center;  
      font: 10pt Tahoma, Arial, sans-serif ;  
      border-radius: 3px;  
      border: 1px solid #333;  
      box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, .3);  
      box-sizing: border-box;  
      background: linear-gradient(top, rgba(69,72,77,0.5) 0%,rgba(0,0,0,0.5) 100%);
    
}

.ui-slider-handle {
  background : #222;
  border-radius:0;
  -webkit-border-radius:0;
  -moz-border-radius:0;
  border-right:3px solid #eee;
  border-bottom:3px solid #eee;  
}

label.ui-slider {
	display:none;
	background:rgba(0, 0, 0, 0);
  color:rgba(255, 255, 255, 0);
  text-shadow:none;
}

.ui-slider {
	height:35px;
}
 make slider stand alone 
ul.book_slider_list {
	float:left; 
	width:100%; 
} */
#book_slider_form {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: 60px;
  padding: 20px 20px 0 20px;
  background-color:rgba(0,0,0,0.3); 
}

#book_slider_form fieldset {
 background: none;
}

#book_slider_form div.ui-slider {
  width: 100%;
  height: 28px;
  border-radius: 0;
  margin: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
}
#book_slider_form div.ui-slider-bg {
  background: none;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
}

#book_slider_form label.ui-slider {
  display:none;
}

#book_slider_form a.ui-slider-handle {
  width: 20px;
  background : #fff;
  border-radius:0;
  -webkit-border-radius:0;
  -moz-border-radius:0;
 }
 
 #book_slider_form span.ui-btn-text {
   font-size: 10px;
    text-decoration: none;
   
 }
 
#book_slider_form span.ui-btn-text:link, #book_slider_form .ui-btn-text:visited, #book_slider_form .ui-btn-text:hover, #book_slider_form .ui-btn-text:active  {
 text-decoration: none;
 }

#book_slider_form #bubble {
    background:#fff;
    white-space:nowrap;
    font-size:12px;
    position:absolute;
    text-align:center;
    width:auto;
    max-width:300px;
    margin:-34px 0 0 6px;
    padding:5px;
    height:auto;
    overflow:hidden;
    border-radius:5px;
    border: 2px solid #ddd;
    z-index:200;
}
